@import url('https://fonts.cdnfonts.com/css/poppins');


.boxlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
    font-family: 'Poppins', sans-serif;
}

.boxForm{

    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.boxForm::before{

    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;



}
.boxForm::after{

    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;



}

.BorderLine{

    position: absolute;
    top: 0;
    inset: 0;

}
.BorderLine::before{

    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -1.5s;

}

.BorderLine::after{

    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -4.5s;

}

@keyframes animate
{

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.boxForm form{
    position: absolute;
    inset: 4px;
    background-color: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.boxForm form h2{

    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}


.boxForm form .Inputboxlogin{

    position: relative;
    width: 300px;
    margin-top: 35px;
}

.boxForm form .Inputboxlogin input{

    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.5em;
    transition: 0.5s;
    z-index: 10;

}

.boxForm form .Inputboxlogin span{

    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.5em;
    transition: 0.5s;

}

.boxForm form .Inputboxlogin input:valid ~ span,
.boxForm form .Inputboxlogin input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);


}


.boxForm form .Inputboxlogin i{

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;

}

.boxForm form .Inputboxlogin input:valid ~ i,
.boxForm form .Inputboxlogin input:focus ~ i
{

    height: 44px;
}

.boxForm form .LinksLogin{

    display: flex;
    justify-content: space-between;
}

.boxForm form .LinksLogin .Linkcss{

    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;

}

.boxForm form .LinksLogin .Linkcss:hover,
.boxForm form .LinksLogin .Linkcss:nth-child(2)
{

    color: #fff;

}

.boxForm form .butonlogin{

    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    

}

.boxForm form .butonlogin:active{

    opacity: 0.8;
}

.loginsenha{

    position: relative;
    left: 145px;
    padding: 0;
    margin: 0;
    color: #ff2770;
}

.erronomelogin{

    position: absolute;
    top: -30px;
    left: 170px;
    padding: 0;
    margin: 0;
    color: #ff2770;

}

.campovazio{


    color: #ff2770;
    margin: 0;
    padding: 0;
    pointer-events: none;
    font-size: 12px;
    margin-left: 120px;
}

.Loginerrado{

    margin: 0;
    padding: 0;
    color: #fff;
    position: relative;
    left: 113px;
    bottom: 25px;
    font-size: 16px;
    color: red;

}