

.ajustedoform{
    margin-bottom: 5px;
    margin-top: 20px;
    width: 100%;
}

#colunarow{
    
}

.ValorTotal{

    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: space-between;

}
#tabela{
    width: 95%;
    
}



.spanvalor{

    color: white;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    bottom: 6px;
}

.spannumero{

    color: rgb(13, 252, 13);
    margin-right: 20px;
    font-size: 20px;
    position: relative;
    bottom: 8px;
}

.th-corpo{
    width: 50%;
}

.td-corpo{
    color: white;
}

.tabela-lateral{
    color: white;
}



#mybtn{
    position: relative;
    right: 20px;
}





.p-container{
    
}



#rowajuste{
    width: 100%;
}

.p-container,.colorh1,.colorh5{
    color:rgb(236, 231, 231);
}

